* {
	margin: 0;
	padding: 0;
}
.v-application--wrap{
	height: 0px;
	width: 0px;
}
.v-application{
	height: 0px;
	width: 0px;
}
.v-btn:not(.v-btn--round).v-size--default {
    height: 0px;
    min-width: 0px;
}
.v-dialog{
	width: auto;
}
ul {
	padding: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html {
    overflow-y:scroll;
}

body {
	display: grid;
    grid-template-rows: 150px 1fr;
    background-color: #f5f5f5;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 10px;
}

header {
	display: grid;
	grid-template-rows: 150px 1fr;
	color: black;
	background: #F3CE13;
}

header h1 {
	place-self: center;
	font-size: 42px;
}

#app-instasearch {
	margin: auto;
	place-self: center;	
	margin-top: 30px;
	width: 600px;
	max-width: 80%;
	overflow: hidden;
}

.input-container {
	border-radius: 5px;
	background: #677482;
	padding: 10px;
}

.input-container input {
	border: none;
	background: transparent;
	color: white;
	padding: 6px 15px;
	font-size: 18px;
	width: 95%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a6b0ba;
  opacity: 1; /* Firefox */
}



.movie {
	list-style: none;
	display: grid;
	grid-template-columns: 200px auto;
	margin-top: 20px;
	align-items: center;
	background-color: #e9edf0;
	border-radius: 5px;
	border: 1px solid #e3e3e3;
}

.Title {
	font-size: 25px;
	margin-left: 20px;
	color: #75818e;
	height: 100%;
	width: 100%;
	display: grid;

	grid-template-columns: 5% 80% 15%;
	grid-template-rows: 25% 60% 15%;
	grid-template-areas:  ". name ."
	". . ."
	". more more"
}

.name {
	grid-area: name;
}

.moreInfo {
	grid-area: more;
	width: 150%;
	height: 100%;
	border: transparent;
    background: transparent;
}

.movie img {
	border-radius: 5px;
	width: 200px;
}

.movie-animated {
	transition: all 0.5s;
	padding-left: 0;
}

.list-animation-enter, .list-animation-leave-to {
	opacity: 0;
	transform: translateY(30px);
}

.list-animation-leave-active {
	position: absolute;
}

