<template>
  <div>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=100%" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />

    <title>OMDB Test</title>

    <header>
      <h1>OMDB Search</h1>
    </header>

    <div id="app-instasearch">
      <div class="input-container">
        <input type="text" placeholder="Type a name" v-model="movieName" />
      </div>

      <transition-group tag="ul" name="list-animation">
        <li
          class="movie movie-animated"
          v-for="movie in filtredMovies"
          v-bind:key="movie.imdbID"
        >
          <img v-bind:src="movie.download_url" />
          <div class="Title">
            <span class="name">{{ movie.Title }} ({{ movie.year }})</span>
			<button class="moreInfo" @click="showInfo(movie.imdbID)" >More...</button>
			

            
                

          </div>
        </li>
      </transition-group>

	<div>
		<v-app>

			<v-dialog v-model="dialog">
				<template v-slot:activator="{on, attrs}">
					<v-btn v-on="on" v-bind="attrs"></v-btn>
				</template>

				<v-card>
					<v-card-title class="text-h5 grey lighten-2">
					{{movieInfo.title}}
					</v-card-title>

					<v-card-text>
					{{movieInfo.plot}}
					</v-card-text>
					
				</v-card>
			</v-dialog>
		</v-app>
	</div>
	
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  //vuetify: new Vuetify(),
  data() {
    return {
		movieName: "",
		filtredMovies: [],
		dialog: false,
		movieInfo: {}
    };
  },
  watch: {
    movieName: async function (value) {
      value = value.trim();
      if (value.length < 3) {
        return;
      }

      console.log(value);
      var start = new Date().getTime();
      var response = await fetch(
        "http://www.omdbapi.com/?s=" +
          value +
          "&plot=full&page=1&apikey=74df1475"
      );
      var statusCode = response.status;
      var result = await response.json();
      var end = new Date().getTime() - start;
      console.log("respomse end: ", end);
      this.filtredMovies = [];

      if (statusCode == 200 && result.Response == "True") {
        for (var movie in result.Search) {
          this.filtredMovies.push({
            Title: result.Search[movie].Title,
            year: result.Search[movie].Year,
            imdbID: result.Search[movie].imdbID,
            download_url:
              result.Search[movie].Poster != "N/A"
                ? result.Search[movie].Poster
                : "./img/noImage.png",
            ploat: result.Search[movie].Ploat,
          });
        }
      }
    },
  },
  methods: {
		async showInfo(imdbID){
			var self = this;
			var start = new Date().getTime()
			var response = await fetch("http://www.omdbapi.com/?i=" + imdbID + "&plot=full&apikey=74df1475")
			var result = await response.json()
			var end = new Date().getTime() - start
			console.log("respomse end: ", end)
			console.log("breakpoint position")
			self.movieInfo.title = result.Title;
			self.movieInfo.plot = result.Plot;
			self.dialog = true
		}
  },
};
</script>